.stats-container {
    text-align: center;
    color: white;
    width: 100%;
    margin-top: 2rem;
}

summary {
    margin-bottom: 1rem;
}

details summary { 
    cursor: pointer;
  }

.stats-table {
    margin: 0 auto;
    color: white;
    min-width: 300px;
    text-align: center;
}

.td {
    margin: 0;
    font-size: 0.8rem;
}

td:nth-child(1) {
    text-align: left;
}

td:nth-child(2) { 
    text-align: right; 
}

.updated {
    font-size: smaller;
}

.train-type-text {
    text-align: center;
    font-variant: all-small-caps;
}

.stat-count {
    text-align: center;
    font-weight: bold;
}
