node_modules
dist/
venv/
hosts
inventory
*.pem
last_seen.json
traintracker-dev.nginx.conf
devops/ec2-secrets.py

requirements.txt
__pycache__/
*.pyc
server/**/__pycache__
requirements.txt
server/cfn/*
server/.chalice/deployments/*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.envrc
