[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
flake8 = "*"

[packages]
flask = "*"
aiohttp = "*"
gunicorn = "*"
psycopg2-binary = "*"
json-api-doc = {editable = true, git = "https://github.com/austinjpaul/json-api-doc.git"}
pytz = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
