html,
body,
#root {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
    margin: 0;
}

.app {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app > svg {
    background: #eee;
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
}
