:root {
    --global-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    -webkit-overflow-scrolling: none;
}

#root {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    overflow-x: hidden;
}

.header {
    width: 35vw;
    min-width: 100px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    color: white;
    text-shadow: var(--global-shadow);
    font-size: 20px;
}

.header .title {
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

.header a,
.header a:hover {
    color: white;
}

.header .title div {
    text-align: right;
    font-size: 1.2em;
}

.header .subtitle {
    margin-top: 4px;
    text-align: right;
    font-size: 0.8em;
    font-style: italic;
}

.line-picker {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.line-picker .line {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    box-shadow: var(--global-shadow);
    border-width: 3px;
    border-style: solid;
}

.line-picker .line.selected {
    border-color: white !important;
}

.line-picker .line:not(:last-child) {
    margin-right: 7px;
}

.line-pane {
    position: relative;
    height: 100vh;
}

@media screen and (max-height: 750px) {
    .line-pane.green,
    .line-pane.red {
        height: 125vh;
    }
}

.line-pane svg {
    pointer-events: none;
    position: absolute;
    stroke-linecap: round;
    filter: drop-shadow(var(--global-shadow));
}

.train-popover {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    max-width: 300px;
    border-radius: 4px;
    padding: 0px 3px;
    background: white;
    box-shadow: var(--global-shadow);
}

.train-popover.right .train-icon {
    margin-left: 5px;
}

.train-popover.left .train-icon {
    margin-right: 5px;
}

.train-popover .train-icon {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    flex-shrink: 0;
    padding: 10px;
    border-radius: 25px;
    background-size: contain;
}

.train-popover .train-details {
    padding: 5px;
}

.train-popover .train-details .station {
    font-size: 10pt;
}

.train-popover .train-details .station.long-name {
    font-size: 8pt;
}

.train-popover .train-details .destination {
    font-style: italic;
    font-size: 7pt;
}
