@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --global-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    --top-content-height: 0px;
    --focus-outline-style: none;
    --line-centering: 47vw;
    --popover-font-size-basis: 5px;
    --line-scale-basis: 3.5px;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: none;
    font-family: 'Nunito', sans-serif;
    background: var(--line-color);
}

a {
    color: white;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition-duration: 0ms !important;
    }
}

*:focus {
    outline: none;
    box-shadow: var(--focus-outline-style);
}

#root {
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 2vh 0;
    z-index: 1;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-shadow: var(--global-shadow);
    background: linear-gradient(var(--line-color) 0 95%, var(--line-color-transparent) 100%);
}

.footer {
    width: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
    text-shadow: var(--global-shadow);
    background: linear-gradient(var(--line-color) 0 100%, var(--line-color-transparent) 100%);
}

.screenreader-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.header .title {
    font-size: 1.5em;
}

.header .subtitle {
    font-size: 0.8em;
}

.header .logo {
    height: 1em;
    filter: drop-shadow(var(--global-shadow));
}

@media screen and (max-width: 750px) {
    :root {
        font-size: 4vw;
        --line-centering: 40vw;
        --popover-font-size-basis: 1vw;
        --line-scale-basis: 1vw;
    }

    .header {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .line-pane {
        padding-top: 5px;
        padding-bottom: 15px;
    }

    .label-trains-text {
        display: none;
    }
}

.line-pane {
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
}

.line-pane.empty {
    flex-grow: 1;
}

.line-pane.empty .empty-notice {
    font-style: italic;
    padding-top: 15vh;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
}

.tab-picker {
    position: relative;
    display: flex;
    margin-top: 10px;
    font-size: 0.9em;
    border-radius: 100px;
    transform: translate3d(0, 0, 0);
    user-select: none;
    align-self: center;

}

.tab-picker > .selected-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 100px;
    transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1), 
        width 500ms cubic-bezier(0.86, 0, 0.07, 1),
        background-color 0ms cubic-bezier(0.86, 0, 0.07, 1);
}

.selectors {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (pointer: none) {
    .tab-picker > .tab:focus {
        outline: none;
        box-shadow: none;
    }
}

.tab-picker > .tab {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 100px;
    z-index: 1;
    }

.tab-picker > .tab:not(:last-child) {
    margin-right: 10px;
}

.tab-picker > .tab > .icon {
    text-shadow: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: black;
    height: 1.5em;
    width: 2.25em;
    font-weight: bold;
}

.tab-picker > .tab > .age {
    font-size: 0.65em;
    height: 1.5em;
    width: 2.75em;
    padding: 0.25em;
}

.tab-picker > .tab > .label {
    margin: 0px 0.5em;
}

@media screen and (max-height: 1200px) {
}

@media screen and (max-height: 750px) {
}

@media screen and (max-height: 600px) {
    :root {
        font-size: 2vh;
        --top-content-height: 20vh;
    }
}

.line-pane svg {
    stroke-linecap: round;
    filter: drop-shadow(var(--global-shadow));
    height: calc(var(--line-bbox-height) * var(--line-scale-basis));
    width: calc(var(--line-bbox-width) * var(--line-scale-basis));
    /* transform: var(--line-pane-offset); */
}

.train {
    cursor: pointer;
    z-index: -1;
}

.train.tracked {
    pointer-events: none;
}

.station-label {
    pointer-events: none;
}

.train-popover {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.train-popover.visible {
    pointer-events: all;
}

.train-popover.visible .scale-container {
    transform: scale(1);
}

.train-popover.left .scale-container {
    transform-origin: right;
}

.train-popover.right .scale-container {
    transform-origin: left;
}

.train-popover .scale-container {
    transform: scale(0);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    max-width: 300px;
    border-radius: 4px;
    padding: 0px 3px;
    font-size: var(--popover-font-size-basis);
    background: white;
    color: black;
    box-shadow: var(--global-shadow);
    transition: 500ms transform cubic-bezier(0.19, 1, 0.22, 1);
}

.train-popover.right {
    transform-origin: right;
}

.train-popover.left {
    transform-origin: left;
}

.train-popover.right .train-icon {
    margin-left: 5px;
}

.train-popover.left .train-icon {
    margin-right: 5px;
}

.train-popover .train-icon {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    flex-shrink: 0;
    padding: 10px;
    border-radius: 25px;
    background-size: contain;
}

.train-popover .train-details {
    padding: 1em;
}

.train-popover .train-details .station {
    font-size: 3.25em;
}

.train-popover .train-details .destination {
    font-style: italic;
    font-size: 3em;
}

.train-popover .train-details .lead-car {
    font-size: 3em;
    color: white;
    display: inline-block;
    margin-top: 2px;
    padding: 2px 4px;
    border-radius: 2px;
}
