@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --global-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    --top-content-height: 0px;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    -webkit-overflow-scrolling: none;
    background: var(--line-color);
}

#root {
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
}

@media screen and (max-width: 750px) {
    :root {
        font-size: 2vh;
    }

    .header {
        z-index: 1;
        position: sticky;
        top: 0;
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        text-shadow: var(--global-shadow);
        background: linear-gradient(var(--line-color) 0 95%, var(--line-color-transparent) 100%);
    }

    .header .title {
        font-size: 1.5em;
    }

    .header .subtitle {
        font-size: 0.8em;
    }

    .header .logo {
        margin-top: 20px;
        height: 2vh;
        filter: drop-shadow(var(--global-shadow));
    }
}

.line-pane {
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
}

.line-pane.empty .empty-notice {
    font-style: italic;
    padding-top: 25vh;
}

.tab-picker {
    position: relative;
    display: flex;
    margin-top: 10px;
    font-size: 0.9em;
    border-radius: 100px;
    transform: translate3d(0, 0, 0);
}

.tab-picker > .selected-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 100px;
    transition: 500ms all cubic-bezier(0.86, 0, 0.07, 1);
}

.tab-picker > .tab:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px white;
}

@media (pointer: none) {
    .tab-picker > .tab:focus {
        outline: none;
        box-shadow: none;
    }
}

.tab-picker > .tab {
    display: flex;
    align-items: center;
    color: white;
    font-size: 4vw;
    border-radius: 100px;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.tab-picker > .tab:not(:last-child) {
    margin-right: 10px;
}

.tab-picker > .tab > .icon {
    text-shadow: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: black;
    height: 1.5em;
    width: 2.25em;
    font-weight: bold;
}

.tab-picker > .tab > .label {
    margin: 0px 0.5em;
}

@media screen and (max-height: 1200px) {
    .line-pane.green:not(.empty),
    .line-pane.red:not(.empty) {
        height: 125vh;
    }
    .line-pane.orange:not(.empty) {
        height: 100vh;
    }
}

@media screen and (max-height: 750px) {
    .line-pane.green:not(.empty) {
        height: 150vh;
    }
    .line-pane.red:not(.empty) {
        height: 125vh;
    }
}

@media screen and (max-height: 600px) {
    :root {
        font-size: 2vh;
        --top-content-height: 20vh;
    }
    .line-pane.orange:not(.empty) {
        height: 125vh;
    }
}

.line-pane svg {
    position: absolute;
    stroke-linecap: round;
    filter: drop-shadow(var(--global-shadow));
}

.train:focus {
    outline: none;
    filter: drop-shadow(0px 0px 0px 2px white);
}

.train-popover {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.train-popover.visible {
    pointer-events: all;
}

.train-popover.visible .scale-container {
    transform: scale(1);
}

.train-popover.left .scale-container {
    transform-origin: right;
}

.train-popover.right .scale-container {
    transform-origin: left;
}

.train-popover .scale-container {
    transform: scale(0);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    max-width: 300px;
    border-radius: 4px;
    padding: 0px 3px;
    background: white;
    color: black;
    box-shadow: var(--global-shadow);
    transition: 500ms transform cubic-bezier(0.19, 1, 0.22, 1);
}

.train-popover.right {
    transform-origin: right;
}

.train-popover.left {
    transform-origin: left;
}

.train-popover.active {
    z-index: 1;
}

.train-popover.right .train-icon {
    margin-left: 5px;
}

.train-popover.left .train-icon {
    margin-right: 5px;
}

.train-popover .train-icon {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    flex-shrink: 0;
    padding: 10px;
    border-radius: 25px;
    background-size: contain;
}

.train-popover .train-details {
    padding: 5px;
}

.train-popover .train-details .station {
    font-size: 10pt;
}

.train-popover .train-details .destination {
    font-style: italic;
    font-size: 8pt;
}
