name: deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['20']
        python-version: ['3.12']
    env:
      TM_NTT_CERT_ARN: ${{ secrets.TM_NTT_CERT_ARN }}
      TM_LABS_WILDCARD_CERT_ARN: ${{ secrets.TM_LABS_WILDCARD_CERT_ARN }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up Node ${{ matrix.node-version }}.x
        uses: actions/setup-node@v4
        with:
            node-version: ${{ matrix.node-version }}
      - name: Check if package-lock.json is up to date
        run: |
          npx --yes package-lock-utd@1.1.0
      - name: Generate AWS profile
        run: |
          mkdir ~/.aws
          cat >> ~/.aws/credentials << EOF
          [transitmatters]
          aws_access_key_id = ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key = ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          EOF
          cat >> ./devops/ec2-secrets.py << EOF
          MBTA_V3_API_KEY = '${{ secrets.MBTA_V3_API_KEY }}'
          LAST_SEEN_UPDATE = True
          EOF
      - name: Write SSH key
        run: |
          mkdir ~/.ssh
          cat >> ~/.ssh/transitmatters-ntt.pem << EOF
          ${{ secrets.SSH_PRIVATE_KEY }}
          EOF
          chmod 0600 ~/.ssh/transitmatters-ntt.pem
      - name: Run deploy shell script
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          npm ci
          cd devops && bash ./deploy.sh -p
